<!--<div class="container">
  <ngb-tabset>
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>
        <p>loreum ipsum1.</p>
  
       <ng-container *ngTemplateOutlet="innerTabset"></ng-container>
      
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>loreum ipsum2
       
      </ng-template>
    </ngb-tab>
    
  </ngb-tabset>
  
  
  <ng-template #innerTabset>
     <ngb-tabset>
        <ngb-tab title="tab1">
          <ng-template ngbTabContent>
            <p>first tab</p>
          </ng-template>
        </ngb-tab>
      
        <ngb-tab title="tab2">
          <ng-template ngbTabContent>
            <p>Second tab.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
  </ng-template>
</div>-->
<app-parent></app-parent>

<div class="app-my-component">two</div>

<app-clock></app-clock>
<h1 color="blue" bgColor="red"> Let's 'Blue' me!</h1>

<h1 color="blue" gbgColor>fffff</h1>
<!--<app-birlasoft-noida></app-birlasoft-noida><app-my-component></app-my-component><a routerLink="/birlasoft-noida">birlasoft noida</a>
<a routerLink="/birlasoft-chennai">birlasoft Chennai</a>
<router-outlet></router-outlet>

<app-parent></app-parent>-->


